<header id="header">
    <h1 id="logo">
   <!-- <a [routerLink]="['/']"></a>-->
   {{title}}
  </h1>

    <div id="menu" class="control-group">
       <!-- <a [routerLink]="['/featured']">Featured</a>
        <a [routerLink]="['/picks']">Crowd Picks</a>
        <a [routerLink]="['/discover']">Discover</a>-->
    </div>
   <!-- <input class="search-query navbar-search in" type="text" name="search" size="50" placeholder="Search Musinvest">-->
    <div id="divClose"  class="sign">
       <!-- <a [routerLink]="['/signin']">{{signin}}</a>
        <a [routerLink]="['/signup']">{{signup}}</a>-->
    </div>
    <div class="color"></div>
</header>