<div class="top slideLeft">
    <div class="container">
        <h1 class="stretchRight"> {{title}}</h1>
        <p class="fadeIn"> {{body}} </p>
        <hr class="sleek-line">
        <div class="span5 control-group">
            <h2>{{head}}</h2>
            <h4>{{summary}}<br>{{join}}</h4>
        </div>
        <div style="margin-left:47%">
            <div class="test fadeIn"></div>
            <div class="span6">
                <h4> {{signupSubHeader}} </h4>
                <form #formCtrl="ngForm" accept-charset="UTF-8" method="post" novalidate="novalidate">
                    <div class="control-group">
                        <div class="control-group">
                            <div class="controls">
                                <input ngControl="firstNameCtrl" required class="input-xlarge" name="user[first_name]" size="50" type="text" placeholder="Birth name">
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <input class="input-xlarge" id="user_last_name" name="user[last_name]" size="50" type="text" placeholder="Last name">
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <input ngControl="emailCtrl" required autofocus="autofocus" class="input-xlarge" id="user_email" name="user[email]" size="50" type="email" placeholder="example@domain.com">
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <input ngControl="passwordCtrl" required autofocus="autofocus" class="input-xlarge" id="user_password" name="user[email]" size="50" type="password" placeholder="for your new account with us">
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <select #t (change)="asRole(t.value)" class="input-select" name="roleSelect">
                                    <option *ngFor="#role of roles" [value]="role">{{role}}</option>
                                </select>
                                <p style="color:#e6e8ed !important"> {{confMsg}} </p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <div class="control-sign">
                                    <input [disabled]="!formCtrl.form.valid" (click)="joinUs(event)" class="btn btn-primary" name="commit" type="submit" value="Continue">
                                </div>
                                <div class="control-sign">
                                    <label> <a style="text-decoration:none" href='/signin'>Or Sign In</a> </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>